body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.graph {
  width: 400px;
  height: 400px;
  margin: auto;
  text-align: center;
}
text {
  font-size: 1.75em;
  font-weight: bold;
}
.graphtitle {
  margin-bottom: 0px;
}
button {
  border: none;
  font-size: .75em;
  font-weight: bolder;
  color: #d12c34;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  padding: 1% 2%;
}
.red {
  color: #d12c34;
  font-weight: bolder;
}
.thin {
  font-weight: 200;
}
